html,body{
	height: 100%;
}

#admin_pannel{
	height: 100%;
	background-color: #f4f4f4;
}
#admin_pannel>div{
	display: flex;
	height: 100%;
}
#side_pannel{
    width: max-content;
    height: 100%;
    /*float: left;*/
    /*position: fixed;*/
    margin-left: 15px;
    position: absolute;
    background-color: white;
    padding: 5px;
}
#main_pannel{
	margin-left: 114px;
	/*overflow-y: auto;*/
	height: 100%

}
.row{
	width: 100%;
}
td{
	border: 2px black solid;
	padding: 4px 4px;
}
.hide{
	display: none;
}

#main_pannel>div{
	height: 100%;
}
.navbar{
	height: 100%;
}
.col-9{
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}
.col-3{
	height: 100%;
}
.message{
	display: block;
    height: 200px;
    padding: 15px;
    border: 1px solid green;
    overflow-y: scroll;
}
.form{
	/*top:15px;*/
	width: 75%;
	padding: 20px;
	text-align: center;
}
.circle{
	height: 120px;
	width: 120px;
	border: 2px solid grey;
	border-radius: 25%;
	display: table-caption
}
.circle div{
	background-color: #8080805c;
	margin-top: 75px;
    border-radius: 0 0 37% 37%;
    visibility: hidden;
    cursor: pointer;
}
.circle:hover div{
	visibility: visible;
}
.circle div img{
	height: 20px;
}
.form span[name='type']{
	font-size: 25px;
	text-decoration: underline;
}
input[type='submit']{
	float: right;
}
.shifttobroker{
	float: left;
}
.edit-profile{
	float: right;
	padding: 5px;
}
.edit-profile img{
	height: 30px;
	/*float: right;*/
}
.edit-profile:hover{
	background-color: #90c923;
}
.bottom_menu li a img{
  display: none;
}
#wishlist{
	height: 100%;
}
#wishlist iframe{
	width: 100%;
	height: 100%
}
@media screen and (max-width : 992px){
	.form{
		width: 100%;
	}
	#side_pannel{
	    /*width: max-content;*/
	    width: 100%;
	    height: max-content;
	    /*float: left;*/
	    /*position: fixed;*/
	    margin-left: 0px;
	    position: fixed;
	    background-color: white;
	    padding: 5px;
	    bottom: 0px;
	    z-index: 4;
	}
	#main_pannel{
		margin-left: 0px;
		width: 100%;
	}
	.bottom_menu{
		display: flex;
		text-align: -webkit-center
	}
	.bottom_menu li{
		width: 30%;
		margin: 1.66%;
	}
	.bottom_menu li a{
	font-size: 20px;
	}
	.bottom_menu li a img{
		display: block;
		height: 100%;
		width: 30%;
	}
}
