{% extends 'base.html' %}

{% load static %}

{% block title %}
Property Managment System | Add Property
{% endblock %}

{% block links %}
<link href="{%static 'css/add_property.css'%}" rel="stylesheet">
{% endblock %}

{% block add_property %}
active_tab
{% endblock %}

{% block body%}
<section id="list_detail">
<form enctype = "multipart/form-data" {% if pid %} action="/addproperty/{{pid}}/"{% else %} action="/addproperty/" {% endif %} method="POST">
	{% csrf_token %}
 <div class="container">
  <div class="row">
    <div class="col-sm-9">
	 <div class="list_detail_lm clearfix">
	   <div class="list_detail_lm1 clearfix">
	     <div class="carousel slide article-slide" id="article-photo-carousel">
	     	<h3>Property Title</h3><br>
			<input type="text" placeholder="Property Title" class="form-control" name="property_title" value="{{property.property_title}}" required><br>
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner cont-slider">
		  	{% if img %}
		  	{% for i in img %}
		    <div class="item img_slider">
		      <img class="slider_image" alt="" title="" src="/media/{{i.1.img}}">

		    </div>
		    {% endfor %}
		  	{% else %}
		    <div class="item active">
		      <img alt="" title="" src="{% static 'img/42.jpg' %}">
		    </div>
		    <div class="item">
		      <img alt="" title="" src="{% static 'img/43.jpg' %}">
		    </div>
		    <div class="item">
		      <img alt="" title="" src="{% static 'img/44.jpg' %}">
		    </div>
		    <div class="item">
		      <img alt="" title="" src="{% static 'img/45.jpg' %}">
		    </div>
		    {% endif %}
		    <i class="fa fa-plus-square-o" aria-hidden="true" onclick="img_submit()"></i>
		    <input id="img_submit" type="file" name="property_image" multiple>
		    <input id="delete_img" class="hide" type="text" name="delete_img">
		  </div>
		  <!-- Indicators -->
		  <ol class="carousel-indicators scroll">
		  	{% if img %}
		  	{% for i in img %}
		    <li class="" data-slide-to="{{i.0}}" id="#article-photo-carousel" data-target="#article-photo-carousel">
		      <img alt="" src="/media/{{i.1.img}}">
		      <img id="cross" iid="{{i.1.id}}" name="/media/{{i.1.img}}" class="cross" src="{% static 'img/times-solid.svg' %}">
		    </li>
		    {% endfor %}
		    {% else %}
		    <li class="" data-slide-to="0" data-target="#article-photo-carousel">
		      <img alt="" src="{% static 'img/42.jpg' %}">
		    </li>
		    <li class="" data-slide-to="1" data-target="#article-photo-carousel">
		      <img alt="" src="{% static 'img/43.jpg' %}">
		    </li>
		    <li class="" data-slide-to="2" data-target="#article-photo-carousel">
		      <img alt="" src="{% static 'img/44.jpg' %}">
		    </li>
		    <li class="active" data-slide-to="3" data-target="#article-photo-carousel">
		      <img alt="" src="{% static 'img/45.jpg' %}">
		    </li>
		    {% endif %}
		  </ol>
		</div>
	   </div>
	   <script type="text/javascript">
		  	$(document).ready(function(){
		  		var del_img = "";
		  		$("#article-photo-carousel .carousel-indicators #cross").click(function(){
		  			if ($(this).hasClass('cross')){
		  				$(this).removeClass('cross').addClass('cross_expand');
		  			}
		  			else{
		  				$(this).removeClass('cross_expand').addClass('cross');
		  			}
		  			if(del_img.includes($(this).attr("iid")))
		  			{
		  				// $(this).attr('id','cross_expand');
		  				del_img=del_img.replace(" + " + $(this).attr("iid"),"");
		  				$("#delete_img").attr('value',del_img);
		  			}
		  			else
		  			{
		  				// $(this).attr('id','cross');
		  				del_img = del_img +" + "+ $(this).attr("iid");
						$("#delete_img").attr('value',del_img);
					}
		  		});
		  	});
		  </script>
	   <div class="list_detail_lm2 clearfix">
	    <div class="col-sm-6">
		 <div class="list_detail_lm2l">
		  <ul>
		   <li><span>Property type:</span></li>
		   <li><span>City:</span></li>
		   <li><span>Neighborhood:</span></li>
		   <li><span>Bedrooms:</span></li>
		   <li><span>Property size:</span></li>
		  </ul>
		  <ul>
		  	<li>
		  		<select name="property_type" class="form-control">
				  <option disabled>Any Type</option>
				  <option {% if property.property_type == "House" %}selected{% endif %}>House</option>
				  <option {% if property.property_type == "Office" %}selected{% endif %}>Office</option>
				  <option {% if property.property_type == "Appartment" %}selected{% endif %}>Appartment</option>
		        </select>
    		</li>
		  	<li>
		  		<select name="city" class="form-control">
				  <option disabled>Any City</option>
				  <option>New York</option>
				  <option>Sydney</option>
				  <option>Washington</option>
		        </select>
		  	</li>
		  	<li><input type="text" name="neighborhood" class="form-control" value="{{property.neighborhood}}"></li>
		  	<li><input type="text" name="bedrooms" class="form-control" value="{{property.bedrooms}}"></li>
		  	<li><input type="text" name="property_size" class="form-control" value="{{property.property_size}}"></li>
		  </ul>
		 </div>
		</div>
		<div class="col-sm-6">
		 <div class="list_detail_lm2l">
		  <ul>
		   <li><span>Offer type:</span></li>
		   <li><span>Zip Code:</span></li>
		   <li><span>Street:</span></li>
		   <li><span>Bathrooms:</span></li>
		   <li><span>Year:</span></li>
		  </ul>
		  <ul>
		  	<li>
		  		<select name="offer_type" class="form-control">
				  <option disabled>Any Status</option>
				  <option {% if property.offer_type == "For Rent" %}selected{% endif %}>For Rent</option>
				  <option {% if property.offer_type == "For Sale" %}selected{% endif %}>For Sale</option>
		        </select>
		    </li>
		  	<li><input type="text" name="zip_code" class="form-control" value="{{property.zip_code}}"></li>
		  	<li><input type="text" name="street" class="form-control" value="{{property.street}}"></li>
		  	<li><input type="text" name="bathrooms" class="form-control" value="{{property.bathrooms}}"></li>
		  	<li><input type="text" name="year" class="form-control" value="{{property.year}}"></li>
		  </ul>
		 </div>
		</div>
	   </div>
	   <div class="list_detail_lm3 clearfix">
	    <div class="list_detail_lm3i clearfix">
		   <h3 class="text-center">FEATURES</h3>
		</div>
		<div class="list_detail_lm3i1 clearfix left">
		   <div class="col-sm-4">
			  <div class="list_detail_lm3i1i clearfix">
				 <ul> 
				  <li><input type="checkbox" name="Attic" {% if property.Attic %}checked{% endif %}> Attic</li>
				  <li><input type="checkbox" name="Garden" {% if property.Garden %}checked{% endif %}> Garden</li>
				  <li><input type="checkbox" name="Microwave" {% if property.Microwave %}checked{% endif %}> Microwave</li>
				 </ul>
			  </div>
		</div>
		   <div class="col-sm-4">
			  <div class="list_detail_lm3i1i clearfix">
				 <ul> 
				  <li><input type="checkbox" name="Dishwasher" {% if property.Dishwasher %}checked{% endif %}> Dishwasher</li>
				  <li><input type="checkbox" name="Gym" {% if property.Gym %}checked{% endif %}> Gym</li>
				  <li><input type="checkbox" name="Patio" {% if property.Patio %}checked{% endif %}> Patio</li>
				 </ul>
			  </div>
		   </div>
		   <div class="col-sm-4">
			  <div class="list_detail_lm3i1i clearfix">
				 <ul> 
				  <li><input type="checkbox" name="Fireplace" {% if property.Fireplace %}checked{% endif %}> Fireplace</li>
				  <li><input type="checkbox" name="High_ceilings" {% if property.High_ceiling %}checked{% endif %}> High ceilings</li>
				  <li><input type="checkbox" name="Swimming_Pool" {% if property.Swimming_pool %}checked{% endif %}> Swimming Pool</li>
				 </ul>
			  </div>
		    </div>
		</div>
	   </div>
	   <div class="list_detail_lm3 clearfix">
	    <div class="list_detail_lm3i clearfix">
		   <h3 class="text-center">DETAILS</h3>
		</div>
		<div class="list_detail_lm3i1 clearfix">
		 <textarea id="details" placeholder="Add Description ..." name="details" class="form-control">{{property.details}}</textarea>
		 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
		</div>
	   </div>
	 </div>
	</div>
<!--  -->
	<div class="col-sm-3"><br><br>
	 <div class="list_detail_rm clearfix">
	  <div class="list_detail_rm_1 clearfix">
	    <ul>
		 <li class="bg_2" style="background-color: green"><i class="fa fa-rupee"></i><input type="integer" name="price" class="form-control" value="{{property.price}}"></li>
		 <li class="bg_2"><i class="fa fa-phone"></i><input type="integer" name="contact" class="form-control" value="{{property.contact}}"></li>
		 <li class="bg_2"><i class="fa fa-map-marker"></i><input type="text" name="location" class="form-control" value="{{property.lat}}+', '+{{property.lng}}" id="location"></li>
		 <br>
		 <div id="mapw" class="hide">
		 	<iframe src="/maps/"></iframe>
		 </div>
		</ul>
	  </div>
	 </div>
	 <br>
	 <input type="submit" name="submit" value="Submit" class="btn btn-success btn-block"  class="form-control">
	 <br>
	</div>
  </div>
 </div>
</form>
</section>
<script type="text/javascript">
  	$(document).ready(function(){
  		$(".item").first().addClass("active");
  		$(".carousel-indicators li").first().addClass("active");
  	});
  	$("#location").click(function(){
  		$("#mapw").toggleClass("hide");
  	});
  	$("#mapw iframe").click(function(){
  		alert();
  		alert($("mapw iframe").markers);
  	});
  </script>

{% endblock %}