{% extends 'base.html' %}

{% load static %}

{% block title %}
Property Managment System | Add Property
{% endblock %}

{% block links %}
<link href="{%static 'css/add_property.css'%}" rel="stylesheet">
{% endblock %}

{% block add_property %}
active_tab
{% endblock %}

{% block body%}
<section id="list_detail">
<form enctype = "multipart/form-data" action="{% url 'addproperty' %}" method="POST">
	{% csrf_token %}
 <div class="container">
  <div class="row">
    <div class="col-sm-9">
	 <div class="list_detail_lm clearfix">
	   <div class="list_detail_lm1 clearfix">
	     <div class="carousel slide article-slide" id="article-photo-carousel">

	<input type="text" name="property_title">
  <!-- Wrapper for slides -->
  <div class="carousel-inner cont-slider">

    <div class="item active">
      <img alt="" title="" src="{% static 'img/42.jpg' %}">
    </div>
    <div class="item">
      <img alt="" title="" src="{% static 'img/43.jpg' %}">
    </div>
    <div class="item">
      <img alt="" title="" src="{% static 'img/44.jpg' %}">
    </div>
    <div class="item">
      <img alt="" title="" src="{% static 'img/45.jpg' %}">
    </div>
    <i class="fa fa-plus-square-o" aria-hidden="true" onclick="img_submit()"></i>
    <input id="img_submit" type="file" name="property_image" multiple>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="" data-slide-to="0" data-target="#article-photo-carousel">
      <img alt="" src="{% static 'img/42.jpg' %}">
    </li>
    <li class="" data-slide-to="1" data-target="#article-photo-carousel">
      <img alt="" src="{% static 'img/43.jpg' %}">
    </li>
    <li class="" data-slide-to="2" data-target="#article-photo-carousel">
      <img alt="" src="{% static 'img/44.jpg' %}">
    </li>
    <li class="active" data-slide-to="3" data-target="#article-photo-carousel">
      <img alt="" src="{% static 'img/45.jpg' %}">
    </li>
  </ol>
</div>
	   </div>
	   <div class="list_detail_lm2 clearfix">
	    <div class="col-sm-6">
		 <div class="list_detail_lm2l">
		  <ul>
		   <li><span>Property type:</span></li>
		   <li><span>City:</span></li>
		   <li><span>Neighborhood:</span></li>
		   <li><span>Bedrooms:</span></li>
		   <li><span>Property size:</span></li>
		  </ul>
		  <ul>
		  	<li><input type="text" name="property_type"></li>
		  	<li><input type="text" name="city"></li>
		  	<li><input type="text" name="neighborhood"></li>
		  	<li><input type="text" name="bedrooms"></li>
		  	<li><input type="text" name="property_size"></li>
		  </ul>
		 </div>
		</div>
		<div class="col-sm-6">
		 <div class="list_detail_lm2l">
		  <ul>
		   <li><span>Offer type:</span></li>
		   <li><span>Zip Code:</span></li>
		   <li><span>Street:</span></li>
		   <li><span>Bathrooms:</span></li>
		   <li><span>Year:</span></li>
		  </ul>
		  <ul>
		  	<li><input type="text" name="offer_type"></li>
		  	<li><input type="text" name="zip_code"></li>
		  	<li><input type="text" name="street"></li>
		  	<li><input type="text" name="bathrooms"></li>
		  	<li><input type="text" name="year"></li>
		  </ul>
		 </div>
		</div>
	   </div>
	   <div class="list_detail_lm3 clearfix">
	    <div class="list_detail_lm3i clearfix">
		   <h3 class="text-center">FEATURES</h3>
		</div>
		<div class="list_detail_lm3i1 clearfix">
		   <div class="col-sm-4">
			  <div class="list_detail_lm3i1i clearfix">
				 <ul> 
				  <li><input type="checkbox" name="Attic"> Attic</li>
				  <li><input type="checkbox" name="Garden"> Garden</li>
				  <li><input type="checkbox" name="Microwave"> Microwave</li>
				 </ul>
			  </div>
		</div>
		   <div class="col-sm-4">
			  <div class="list_detail_lm3i1i clearfix">
				 <ul> 
				  <li><input type="checkbox" name="Dishwasher"> Dishwasher</li>
				  <li><input type="checkbox" name="Gym"> Gym</li>
				  <li><input type="checkbox" name="Patio"> Patio</li>
				 </ul>
			  </div>
		   </div>
		   <div class="col-sm-4">
			  <div class="list_detail_lm3i1i clearfix">
				 <ul> 
				  <li><input type="checkbox" name="Fireplace"> Fireplace</li>
				  <li><input type="checkbox" name="High ceilings"> High ceilings</li>
				  <li><input type="checkbox" name="Swimming Pool"> Swimming Pool</li>
				 </ul>
			  </div>
		    </div>
		</div>
	    
	   </div>
	   <div class="list_detail_lm3 clearfix">
	    <div class="list_detail_lm3i clearfix">
		   <h3 class="text-center">DETAILS</h3>
		</div>
		<div class="list_detail_lm3i1 clearfix">
		 <textarea placeholder="Add Description..." name="details"></textarea>
		 <ul class="social-network social-circle">
                        <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
		</div>
	   </div>
	 </div>
	</div>
<!--  -->
	<div class="col-sm-3">
	 <div class="list_detail_rm clearfix">
	  <div class="list_detail_rm_1 clearfix">
	    <ul>
		 <li class="bg_2" style="background-color: green"><i class="fa fa-rupee"></i><input type="integer" name="price"></li>
		 <li class="bg_2"><i class="fa fa-phone"></i><input type="integer" name="contact"></li>
		 <li class="bg_2"><i class="fa fa-map-marker"></i><input type="text" name="location"></li>
		 
		</ul>
	  </div>
	 </div>
	 <br>
	 <input type="submit" name="submit" value="Submit" class="btn btn-success btn-block">
	 <br>
	 <input type="submit" name="submit" value="Edit" class="btn btn-success btn-block">
	</div>
  </div>
 </div>
</form>
</section>


{% endblock %}