      if request.POST['offer_type']!='all':
         property=property.filter(offer_type=request.POST['offer_type'])
      if request.POST['city']!='all':
         property = property.filter(city=request.POST['city'])
      if request.POST['bedrooms']!='all':
         if request.POST['bedrooms']=='3+':
            property = property.filter(bedrooms__gte=3)
         else:
            property = property.filter(bedrooms=request.POST['bedrooms'])
      if request.POST['sort']!='all':
         property = property.order_by(request.POST['sort'])
      if request.POST['property_type']!='all':
         property = property.filter(property_type=request.POST['property_type'])
         print(request.POST['property_type'])
      if request.POST['min_price']!='':
         property = property.filter(price__gte=request.POST['min_price'])
      if request.POST['max_price']!='':
         property = property.filter(price__lte=request.POST['max_price'])