{% extends 'base.html' %}

{% load static %}

{% block title %}
Property Managment System | Profile
{% endblock %}

{% block links %}
<link href="{%static 'css/profile.css' %}" rel="stylesheet">
<link href="{%static 'css/list.css' %}" rel="stylesheet" >
<script src="{%static 'js/profile.js' %}"></script>
{% endblock %}

{% block profile %}
active_tab
{% endblock %}

{% block body %}
<section id="admin_pannel">
	<!-- <div class="row"><br> -->
		<!-- <div class=""> -->
			<section id="side_pannel">
<!-- 				<nav class="navbar">
		        <div class=""> -->
		            <!-- Brand and toggle get grouped for better mobile display -->
		           <!--  <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		            </div> -->
		            <!-- Collect the nav links, forms, and other content for toggling -->
		            <!-- <br> -->
		            <div class="" id="bs-example-navbar-collapse-2">
		                <ul class="nav bottom_menu">

		                	<li>
		                        <a id='1' class="tag_m active_tab"><img src="{%static 'img/user-solid.svg' %}">Profile</a>
		                    </li>
		                    <br>
							<li>
		                        <a id='2' class="tag_m"><img src="{%static 'img/envelope-open-text-solid.svg' %}">Enquiry</a>
		                    </li>
		                    <br>
							<li>
		                        <a id='3' class="tag_m"><img src="{%static 'img/heart-solid.svg' %}">Wishlist</a>
		                    </li>
		                </ul>
		            </div>
		            <!-- /.navbar-collapse -->
		        <!-- </div> -->
		        <!-- /.container-fluid -->
		    	<!-- </nav> -->
			</section>
		<!-- </div> -->
	
		<div style="width: 100%;overflow-y: auto;overflow-x: hidden;" class="">
			<section id="main_pannel" class="container">
				<br>

				<div id="profile" class="container">
					<div class="">
						<div class="form">
							{% if profile.type == "Broker" %}
							<div class="circle" style="background-image: url(/media/{{broker.img}}); background-size: cover;">
								<div>
									<img src="{% static 'img/camera-solid.svg' %}">Add Profile Picture
								</div>
							</div>
							{% endif%}
							<span name="type">{{profile.type}}</span>
							<span class="edit-profile"><img src="{% static 'img/user-edit-solid.svg' %}"></span>
							<br><br>
							<form action="/editprofile/" method="POST" enctype="multipart/form-data" name="editprofile">
								{% csrf_token %}
								<div class="row">
									<div class="col-sm-6">
										<span>First name:</span><input type="text" name="fname" value="{{ request.user.first_name }}" class="form-control" disabled> 
									</div>
									<div class="col-sm-6">
										<span>Last Name: </span><input type="text" name="lname" value="{{ request.user.last_name }}" class="form-control" disabled>
									</div>
								</div><br>
								<div class="row">
									<div class="col-sm-12">
										<span>Email: </span><input type="email" name="email" value="{{ request.user.email }}" class="form-control" disabled>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<span>Contact: </span><input type="integer" name="contact" value="{{ profile.contact }}" class="form-control" disabled>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<span>Quotes: </span><input type="text" name="quotes" value="{{broker.quotes}}" class="form-control" disabled>
									</div>
								</div><br>
								<div class="row">
									<div class="col-sm-12">
										<div class="col-sm-6">
											{% if profile.type != "Broker" %}
											<a class="btn btn-info shifttobroker" onclick="shifttobroker()">Shift To Broker</a>
											{% endif %}
										</div>
										<div class="col-sm-6">
											<input type="submit" name="submit" value="Submit" class="btn btn-success hide" disabled>
										</div>
									</div>
								</div>
								<input type="file" name="profile_pic" class="hide" disabled required>
							</form>
						</div>
					</div>
				</div>

				<div id="enquiry" class="container hide">
						
					<!-- <section> -->
						<div class="navigation">
							{% if pindex.initial %}
							<a href="/profile/{{pindex.initial}}/prev/">
								<img class="arrow arrowb" src="{% static 'img/angle-left-solid.svg' %}">
							</a>
							{% endif %}
							{% if end %}
							<a href="/profile/{{pindex.last}}/next/">
								<img class="arrow arrowb" src="{% static 'img/angle-right-solid.svg' %}">
							</a>
							{% endif %}
						</div>
					 <div class="">
					  <div class="row">
					  	
					   <div class=" clearfix">
					   	{% for e in enquiry %}
					    <div class="prop_3 col-sm-4">
						 <div class="list_1_1 clearfix">
						   <a href="/list_details/{{e.property_id.id}}/{{e.id}}"><span class="message">{{ e.message }}</span></a>
						    <div class="list_1_1i clearfix">
							  <div class="overflow tile_title"><h3><a href="/list_details/{{e.property_id.id}}/{{e.id}}">{{ e.property_id.property_title }}</a></h3></div>
						   	  <div class="overflow tile_address"><i class="fa fa-map-marker"></i>
						   	  {{ e.property_id.neighborhood }},{{ e.property_id.street }},{{ e.property_id.city }},{{ e.property_id.zip_code }}
						   	  </div>
							   <h4>{{ e.property_id.price }}</h4>
							   <ul class="nav_list">
							     <li><span>Bedrooms:</span> {{ e.property_id.bedrooms}}</li>
								 <li><span>Bathrooms:</span> {{ e.property_id.bathrooms}}</li>
								 <li><span>Land size:</span> {{ e.property_id.property_size }} sq. ft. </li>
							   </ul>
						   
							   <ul class="nav_list_1">
							     <li><span class="date">{{ e.property_id.year }} years ago</span></li>
							     {% if e.status != 'Close' %}
								 <li><span class="comp"><a href="/close/{{e.id}}/">CLOSE</a></span></li>
								 {% if e.status != 'Seen' %}
								 <li><span class="det"><a href="/seen/{{e.id}}/">SEEN</a></span></li>
								 {% endif %}
								 {% endif %}
							   </ul>
							</div>
						  </div>
						</div>
						{% endfor %}
						</div>
					   </div>
					  </div>
					  <div class="navigation">
						{% if pindex.initial %}
						<a href="/profile/{{pindex.initial}}/prev/">
							<img class="arrow arrowb" src="{% static 'img/angle-left-solid.svg' %}">
						</a>
						{% endif %}
						{% if end %}
						<a href="/profile/{{pindex.last}}/next/">
							<img class="arrow arrowb" src="{% static 'img/angle-right-solid.svg' %}">
						</a>
						{% endif %}
					</div>
					<!-- </section> -->
				</div>

				<div id="wishlist" class="container hide">
					<!-- <iframe id="wishlist_frame"></iframe> -->
				</div>

			</section>
		</div>
	<!-- </div> -->
</section>
<script type="text/javascript">
	$(document).ready(function(){
		$('.edit-profile').click(function(){		
			if ($('input').attr('disabled')) {
				$('input').removeAttr('disabled');
				$("input[type='submit']").removeClass('hide');
			}
			else{
				$('input').attr('disabled','disabled');
				$("input[type='submit']").addClass('hide');
			}		
		});
		$('.circle div').click(function(){
			$("input[name='profile_pic']").trigger('click');
		});

$('#wishlist').load('/wishlist/ #prop');
	});
	function shifttobroker(){
		if (confirm("Are Really Want To Shift To Broker!")) {
			location.href = "{% url 'shifttobroker' %}"
		}
	}
</script>
{% endblock %}
