{% extends 'base.html' %}

{% load static %}

{% block title %}
Property Managment System | Team
{% endblock %}

{% block links %}
<link href="{%static 'css/team.css'%}" rel="stylesheet">
{% endblock %}

{% block team %}
active_tab
{% endblock %}

{% block body %}

<section id="center" class="center_team">
<div class="center_bgm clearfix">
 <div class="container">
  <div class="row">
   <div class="center_team_1">
    <div class="col-sm-6">
	 <div class="center_team_1_i clearfix">
	   	 <h2 class="mgt">OUR AGENTS</h2>
	 </div>
	</div>
	<div class="col-sm-6">
	 <div class="center_team_1_i1 text-right clearfix">
	   	<ul>
		 <li><a href="#">Home</a></li>
		 <li class="border_none">Our Agents</li>
		</ul>
	 </div>
	</div>
	</div>
  </div>
 </div>
</div>
</section>

<section id="team_home">
 <div class="container">
   <div class="row">
    <div class="team_p mgt clearfix">
    	{% for b in sorted %}
	  <div class="col-sm-3">
        <div class="col-item">

		   <img {% if b.img %} src="/media/{{b.img}}" {% else %} src="{% static 'img/11.jpg' %}" {% endif %} class="img-responsive" alt="VMJMBOE Property">

		   <div class="clearfix text-center item_1">
		   	{% if b.broker %}
			<h4><a href="#">{{b.broker.first_name}}  {{b.broker.last_name}}</a></h4>
			{% else %}
			<h4><a href="#">{{b.first_name}}  {{b.last_name}}</a></h4>
			{% endif %}
			<p>{{b.quotes}}</p>
			<ul class="social-network social-circle">
				<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
				<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
		    </ul>
		   </div>
        </div>
      </div>{% endfor %}
	</div>   
  </div>
  </div>
</section>

</body>
 
</html>
{% endblock %}