{% extends 'framebase.html' %}

{% block profile %}
active_tab
{% endblock %}
{% load static %}
{% block wishlist %}
True
{% endblock %}

{% block links %}
<link href="{%static 'css/list.css'%}" rel="stylesheet">
{% endblock %}

{% block list %}

{% endblock %}

{%  block body%}
<section id="prop">
	<div class="navigation">
		{% if pindex.initial %}
		<a href="/wishlist1/{{pindex.initial}}/prev/">
			<img class="arrow arrowb" src="{% static 'img/angle-left-solid.svg' %}">
		</a>
		{% endif %}
		{% if end %}
		<a href="/wishlist1/{{pindex.last}}/next/">
			<img class="arrow arrowb" src="{% static 'img/angle-right-solid.svg' %}">
		</a>
		{% endif %}
	</div>

	 <div class="container">
	  <div class="row">
	  	
	   <div class=" clearfix">
	   	{% for p in property %}
	    <div class="prop_3 col-sm-4">
		 <div class="list_1_1 clearfix">
		   <a href="/list_details/{{p.id}}"><img 	{% for i in img %}
				   		{% if i.property_id is p.id %} 
				   		src="/media/{{i.img}}" 
				   		{% endif %}
	   				{% endfor %} 
	   		class="iw" alt="VMJMBOE PROPERTY"></a>
		    <div class="list_1_1i clearfix {% if p.status == 'Sold' %} sold {% endif %}">
			  <div class="overflow tile_title"><h3><a href="/list_details/{{p.id}}">{{ p.property_title }}</a></h3></div>
		   	  <div class="overflow tile_address"><i class="fa fa-map-marker"></i>
		   	  {{ p.neighborhood }},{{ p.street }},{{ p.city }},{{ p.zip_code }}
		   	  </div>
		   <h4><i class="fa fa-rupee"></i> {{ p.price }}</h4>
		   <ul class="nav_list">
		     <li><span>Bedrooms:</span> {{ p.bedrooms}}</li>
			 <li><span>Bathrooms:</span> {{ p.bathrooms}}</li>
			 <li><span>Land size:</span> {{ p.property_size }} sq. ft.</li>
		   </ul>
		   <ul class="nav_list_1">
		     <li><span class="date">{{ p.year }} years ago</span></li>
		     {% if myproperty %}
		     {% if p.status != 'Sold' %}
		     <li><span class="comp"><a {% if p.status != 'Sold' %} href="/sold/{{p.id}}" {% endif %}>Sold</a></span></li>
			 {% endif %}
			 <li><span class="det"><a href="/edit_property/{{p.id}}">Edit</a></span></li>
			 {% else %}
			 <li><span class="comp"><a {% if p.id in wid %} class="wishlist" href="/mwishlist/{{p.id}}" target="backend" {% endif %}>Wishlist</a></span></li>
			 <li><span class="det"><a href="/list_details/{{p.id}}">DETAILS</a></span></li>
			 {% endif %}
			 
		   </ul>
			</div>
		  </div>
		</div>
		{% endfor %}
		</div>
	   </div>
	  </div>
	 </div>

	<div class="navigation">
		{% if pindex.initial %}
		<a {% if myproperty %} href="/my_property/{{pindex.initial}}/prev/" {% else %} href="/list/{{pindex.initial}}/prev/" {% endif %}>
			<img class="arrow arrowb" src="{% static 'img/angle-left-solid.svg' %}">
		</a>
		{% endif %}
		{% if end %}
		<a {% if myproperty %} href="/my_property/{{pindex.last}}/next/" {% else %} href="/list/{{pindex.last}}/next/" {% endif %}>
			<img class="arrow arrowb" src="{% static 'img/angle-right-solid.svg' %}">
		</a>
		{% endif %}
	</div>
</section>
<script type="text/javascript">
	$(document).ready(function(){
	  $(".comp a").click(function(){
	  	$(this).toggleClass('wishlist');
	  });
	});
</script>
{% endblock %}